@import "../../../styles/styles.scss";

.table-component-container {
    padding: 30px 0px 20px 15px;
    @media only screen and (min-width: 1025px) {
        padding: 30px 15px;
    }
    .table-header {
        display: flex;
        justify-content: space-between;
    }
    .table-title {
        font-weight: bold;
        font-size: 26px;
        color: $grey;
        margin-bottom: 10px;
    }
    .table-container {
        overflow-x: auto; //to alow scroll in x-direction (widths)
        .table-body {
            width: 100%;
            background-color: $light_grey4;
            border-radius: 3px;
            border-collapse: collapse;
        }
    }
    .no-records {
        height: 30px;
        font-size: 18px;
        background: $light_grey4;
        padding: 20px;
        font-weight: bold;
        color: $grey;
    }
}
