@import "../styles/styles.scss";

.page-container {
  padding: 20px;
  width: 80%;
  @media only screen and (min-width: 1025px) {
    width: 50%;
  }
  .logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    .crossworker-img {
      height: 50px;
      @media only screen and (min-width: 1025px) {
        height: 60px;
      }
    }
  }
  .forget-password-container {
    text-align: center;
    margin: 15px 0px 10px;
    .forget-password-label {
      color: $grey;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: $blue;
      }
    }
  }
  .login-button {
    padding: 13px 30px;
    display: flex;
    margin: auto;
    white-space: nowrap;
    border-radius: 3px;
    cursor: pointer;
    color: $white;
    font-weight: bold;
    height: 30px;
    align-items: center;
    background-color: #00a3d0;
    border-width: 1px;
    border-color: $light_blue;
  }
}
